$grey--dark: #e2e2e2;

.c-chart {
  display: flex;
  align-items: center;
  position: relative;
  &__desc {
    color: #58AAD8;
    font-size: 48px;
    text-transform: uppercase;
  }
  &__graph {
    // margin-left: 20px;
    // border: 1px solid red;
  }
  &__timer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
  }
}

.chart {
  display: block;
  min-width: 350px;
  max-width: 800px;
  max-height: 800px;
}

.circle {
  stroke: #58AAD8;
  fill: none;
  stroke-width: .1;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.circle-bg {
  fill: none;
  stroke: $grey--dark;
  opacity: 90%;
  stroke-width: .1;
}

.percentage {
  fill: #58AAD8;
  font-family: Abel, sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}


@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}